body {
    margin: 0 auto;
    margin-left: 40px;
    background-color: antiquewhite;
}

p {
   font-size: 24px; 
}

.baslik1{
    margin-left: 40px;
    padding-top: 50px;
    font-size: 32px;
}


.menu {
    margin: 0 auto;
    margin-left: 40px;
}

.maj {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.CV {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sector{
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.ecb {
    display: flex;
    flex-direction: row;
}

.st1Ecb{
    width: 200px;
    height: 250px;
    background-color: cornsilk;
    padding-left: 40px;
    margin-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.nd2Ecb{
    width: 200px;
    height: 250px;
    background-color: cornsilk;
    padding-left: 40px;
    margin-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.rd3Ecb{
    width: 200px;
    height: 250px;
    background-color: cornsilk;
    padding-left: 40px;
    margin-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.footer {
    margin-left: 40px;
    padding-top: 50px;
    font-size: 24px;
}